body, html{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: "Verdana", sans-serif;
    background-color: rgb(110, 110, 110);
}
.main{
    display: flex;
    flex-direction: column;
}
.main h1{
    background-color: rgb(143, 143, 143);
    padding: 15px;
    border: 10px solid rgb(177, 177, 177);
    border-radius: 10px;
}
.gridExp img{
    width: 320px;
}
.gridExp{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.img2 img{
    width: 100%;
    
}